{% extends 'base.html.twig' %}

{% block title %}Imago - Articles
{% endblock %}

{% block body %}
	<main>
		<div class="container">
			<div class="article--index">

				<h2>Articles</h2>

				<div class="article reveal">
					{% for article in articles %}
						<div class="article--title">
							<h3>{{ article.title }}</h3>
							<span class="article--category">{{ article.category }}</span>
						</div>
						<span class="article--content">{{ article.content | slice(0, 400) }}</span>

						<a href="{{ path('app_articles_show', {'id': article.id}) }}">Lire la suite</a>
						{% if is_granted("ROLE_ADMIN")%}
							<a href="{{ path('app_articles_edit', {'id': article.id}) }}">Editer</a>
						{% endif %}
					{% else %}
						<span colspan="5">Aucun articles trouvé</span>
					{% endfor %}
				</div>

				{% if is_granted("ROLE_ADMIN")%}
					<a class="article--admin" href="{{ path('app_articles_new') }}">Ajouter un nouveau article</a>
					<a class="article--admin" href="{{ path('app_category_index') }}">Ajouter une nouvelle catégorie</a>
				{% endif %}
			</div>
		</div>
	<main>
{% endblock %}