{% extends 'base.html.twig' %}

{% block title %}Imago - Articles
{% endblock %}

{% block body %}
	<main>
		<div class="container">
			<div class="article--index">

				<h1>{{ article.title }}</h1>

				<div class="article">
					<div class="article--title">
						<span class="article--category">{{ article.category }}</span>
					</div>
					<span class="article--content">{{ article.content }}</span>

					<a href="{{ path('app_articles_index') }}">Retour à la liste d'articles</a>
					{% if is_granted("ROLE_ADMIN")%}
						<a href="{{ path('app_articles_edit', {'id': article.id}) }}">Editer</a>
						{{ include('articles/_delete_form.html.twig') }}
					{% endif %}
				</div>
			</div>
		</div>
		<main>
		{% endblock %}
